<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ECS Test Kitchen</title>
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../css/landing-page.css" rel="stylesheet">
  <link href="../css/mana.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script data-cfasync="false">
  (function(r, e, E, m, b) {
    E[r] = E[r] || {};
    E[r][b] = E[r][b] || function() {
      (E[r].q = E[r].q || []).push(arguments)
    };
    b = m.getElementsByTagName(e)[0];
    m = m.createElement(e);
    m.async = 1;
    m.src = ("file:" == location.protocol ? "https:" : "") + "//s.reembed.com/G-AKLv3X.js";
    b.parentNode.insertBefore(m, b)
  })("reEmbed", "script", window, document, "api");
  </script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="../index.html">Infosys Innovations</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../index.html">ECS Test Kitchen</a>
          </li>
          <li>
            <a href="thought-leaders.html">Thought Leadership</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <a href="#" class="back-to-top">Back to Top</a>
  <!-- Header -->
  <a name="about"></a>
  <div class="intro-header-mana">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>INFOSYS NIA™</h1>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="#mana-intro" class="btn btn-default btn-lg"><span class="network-name">INTRODUCTION</span></a>
              </li>
              <li>
                <a href="#png-vr" class="btn btn-default btn-lg"><span class="network-name">P&G VR DEMO</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->
  <a name="mana-intro"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-5">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">NIA INTRO</h2>
          <h3>Introduction to Infosys Nia:</h3>
          <p class="lead">Infosys Nia is a knowledge-based, Integrated, Open AI Software Platform for Enterprise that brings machine learning together with the deep knowledge of an organization to drive automation and innovation thus enabling businesses to continuously reinvent their system landscapes.
          </p>
        </div>
        <div class="col-lg-6 col-lg-offset-2 col-sm-7 video-container">
          <div id="nova1" class="tab-pane active">
            <img src="../img/mana/business-manager-view.png">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
      <blockquote>
        <p class="lead">Nia ingests the data from various sources of truth for example health metrics, logs, tickets and so on in real time or in a batch mode, makes sense of them and determines the actions to be performed to meet the business SLAs and performs them automatically with appropriate human interventions as needed.</p>
        <p class="lead">As Nia Automates things, Captures Knowledge, Processes information, Analyzes on its own, does self-healing - as a result Cost of maintenance of application and infrastructure go down dramatically.</p>
        <p class="lead">Nia provides a solution for end-to-end automation of ticket resolution and other such IT Service Management activities through robotic automation.</p>
        <p class="lead">It helps to codify and capture the knowledge that sits inside the system and process across generation of people and technology, thus improves business process , makes free from individual dependency</p>
        
      </blockquote>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3>Nia uses several powerful technologies:</h3>
            <p class="lead">Using Ontology, Nia does deep learning by capturing knowledge base inside a system like complex IT systems</p>
            <p class="lead">Using Natural language processing, Nia understands documentation, understands source code, captures process details etc</p>
            <p class="lead">Uses Probabilistic method(Bayesian n/w) to diagnose the behavior of the systems and resolves issues</p>
        </div>
        <div class="col-lg-6 col-sm-pull-6 col-sm-5 video-container">
          <div id="smart-farming" class="tab-pane active">
            <img src="../img/mana/engineer-view.png">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-5">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h3>Nia’s Persona Based Dashboards:</h3>
            <p class="lead">
              Nia allows you to configure various persona based dashboards reflecting the context of the users and their role (persona) in order to amplify their potential. Some of the common views are: 
            </p>
        </div>
        <div class="col-lg-6 col-lg-offset-2 col-sm-7 video-container">
          <div id="nova1" class="tab-pane active">
            <img src="../img/mana/it-manager-view.png">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
      <blockquote>
        <p class="lead">Business Manager View: Summary dashboard of business process overview and related operational and strategic insights actionable at a business process level.</p>
        <p class="lead">IT Manager View: Operational and Strategic dashboards critical for an IT manager. Examples of insights include task assignment, automation dashboard, root cause analysis, process mining.</p>
        <p class="lead">Engineer View: Operational as well as strategic insights providing L3 Engineers a 360 Degree view of their IT landscape, assist with root cause analysis, apply knowledge models to enable code impact analysis.</p>
      </blockquote>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- Page Content -->
  <a name="png-vr"></a>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">P&G VR DEMO</h2>
          <p class="lead">Augmentation of Distribution Resource Planning (DRP) process using virtual reality and artificial intelligence (Nia)</p>
        </div>
        <div class="col-lg-6 col-sm-pull-6 col-sm-5 video-container">
          <div id="smart-farming" class="tab-pane active">
            <iframe width="850" height="480" src="https://youtu.be/_MxLBSKspP8" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row more-demo-div">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          click here to access more demos
        </button>
        <div class="collapse" id="collapseExample">
          <div class="well">
            <a href="http://blrkecperfcoe8:8051/iap-controller/" target="_blank">Confluence Version (Dashboards, L2 Infra, L3 Code)</a>
            <br>
            <a href="http://10.188.114.141:7180/iap-controller/" target="_blank">Telstra POC (Log Mining, Correlation, Workflows)</a>
            <br>
            <a href="https://playwithedge.com/" target="_blank">AssistEdge RPA Demos</a>
            <br>
            <a href="http://icp.ad.infosys.com/project/HECSHYD2/Mana/Videos/Forms/AllItems.aspx" target="_blank">More Nia Videos</a>
            <br>
            <img src="../img/creds.png">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.banner -->
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; Infosys Ltd. 2016. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery -->
  <script src="../js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="../js/bootstrap.min.js"></script>
  <script type="text/javascript">
  // create the back to top button
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');

  var amountScrolled = 300;

  $(window).scroll(function() {
    if ($(window).scrollTop() > amountScrolled) {
      $('a.back-to-top').fadeIn('slow');
    } else {
      $('a.back-to-top').fadeOut('slow');
    }
  });

  $('a.back-to-top, a.simple-back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 700);
    return false;
  });
  </script>
</body>

</html>
